@model FlowAuth.Models.Assigned

@{
    ViewData["Title"] = "Create";
}

<h2>Assign staff to project</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StaffID" class="control-label"></label>*
                <select asp-for="StaffID" class ="form-control" asp-items="ViewBag.StaffID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Project_Code" class="control-label"></label>*
                <select asp-for="Project_Code" class ="form-control" asp-items="ViewBag.Project_Code"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Assign" class="btn btn-default" />
                <dl></dl>
                * required field
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
