@model FlowAuth.Models.Log

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Log</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LogID" />
            <div class="form-group">
                <label asp-for="Project_Code" class="control-label"></label>
                <select asp-for="Project_Code" class="form-control" asp-items="ViewBag.Project_Code"></select>
                <span asp-validation-for="Project_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffID" class="control-label"></label>
                <select asp-for="StaffID" class="form-control" asp-items="ViewBag.StaffID"></select>
                <span asp-validation-for="StaffID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskDescriptionID" class="control-label"></label>
                <select asp-for="TaskDescriptionID" class="form-control" asp-items="ViewBag.TaskDescriptionID"></select>
                <span asp-validation-for="TaskDescriptionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Log_date" class="control-label"></label>
                <input asp-for="Log_date" class="form-control" />
                <span asp-validation-for="Log_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Log_hours" class="control-label"></label>
                <input asp-for="Log_hours" class="form-control" />
                <span asp-validation-for="Log_hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
