@{
    ViewData["Title"] = "Contact";
}
<h2>Report An Issue</h2><br>

<style>
    input[type=text], select, textarea {
        width: 100%; /* Full width */
        padding: 10px; /* Some padding */
        border: 1px solid #ccc; /* Gray border */
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
        background-color: rgba(0, 0, 0, 0.69);
    }


    button {
        background-color: white;
        color: midnightblue;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }


        button:hover {
            background-color: hotpink;
        }

   


</style>
<div class="container">
    <form action="action_page.php">

        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">

        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>



    </form>
    <button type="button" onclick="alert('Issue Submitted. You will be contacted for resolution')">Submit</button>
</div>

<br>
<address>
    <strong>Support:</strong> <a href="mailto:Support@arcana.co.za">Support@arcana.co.za</a>

</address>
