@model FlowAuth.Models.Staff

@{
    ViewData["Title"] = "Staff";
}

<h2>Staff Quick Access</h2>

<html>
<head>
    <style>
        

        .item2 {
            grid-area: claim;
        }

        .item3 {
            grid-area: timesheet;
        }

        .item4 {
            grid-area: leave;
        }

        .grid-container {
            display: grid;
            grid-template-areas: 'timesheet timesheet timesheet' 'claim claim claim' 'leave leave leave';
            grid-gap: 10px;
            padding: 10px;
            position: center;
        }

            .grid-container > div {
                background-color: rgba(0, 0, 0, 0.76);
                text-align: center;
                padding: 20px 0;
                font-size: 20px;
            }
    </style>
</head>
<body>

    <div class="logo" , style="position:center">
        <img src="https://d2bkbw.am.files.1drv.com/y4p17U7c9u4Rwx25M-a4bJ8Ys4LE_ityeCJH1GYprmgKfQb12TMGbnbOQe54kxdSCfyi4RZp0ilYzdH4FG0d1iV8wbDLv8zfXiy-VrvjtjlwajXqRcmPhLqxv0xesSnnSmVaVwcmISVxp5pTVUt5DaZJ6iDH98zj74SSY1rH-jiSOCCT8tmWdH6WtLro49WJLJD_xhvE-cvdAvXUUj1NpleVA/Flow%20Logo.png?psid=1" alt="Flow ERP Logo" width=501 height=147 />
    </div>

    <div class="grid-container">
        
        <div class="item2"><a asp-controller="Claims" asp-action="Create"><i class="material-icons">account_balance_wallet</i>Submit Claim</a></div>
        <div class="item3"><a asp-controller="Logs" asp-action="Create"><i class="material-icons">event</i>Add To Timesheet</a></div>
        <div class="item4"><a asp-controller="Leaves" asp-action="Create" ><i class="material-icons">flight</i>Request Leave</a></div>
    </div>

</body>
</html>