@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@{
    Layout = null;
}
<style>

    body {
        background-image: linear-gradient(to right, rgb(19,141,205), rgb(0, 91, 151));
        color: #FFFFFF;
        font-family: "Roboto", helvetica, arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-rendering: optimizeLegibility;
        justify-content: center;
        position: center;
        text-align: center;
    }




    button {
        background-color: white;
        color: midnightblue;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .form-group {
        align-self: center;
    }

    .form-control {
        border-radius: 2px;
        background-color: white;
        color: black;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
    }

    link {
        text-decoration-line: none;
    }

    button:hover {
        background-color: hotpink;
    }

    /* Add a background color and some padding around the form */


</style>

<div style="background-color:rgba(0, 0, 0, 0.76); padding:10px 20px 20px 20px; top:200px; left:400px; border-radius: 10px; align-self:center">

    <h2>@ViewData["Title"]</h2>
    <h4>Enter your email.</h4>
    <hr />
    <div class="row"style="align-self:center;">
        <div class="col-md-4"style="align-self:center;">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div style="align-self:center;display: inline-block ; padding:25px">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
